@charset "utf-8";

$gray: #38363A;
$accent: lighten($gray, 50%);
$highlight: #FC564F;
$white: #FDFFFF;
$stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

body {
  font-family: $stack;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $gray;
  background-color: $white;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}

a {
  color: $accent;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    color: $highlight;
  }
}

#container {
  max-width: 960px;
  margin: 0 auto;
}