<h2>About</h2>

<p>
  CFP buddies was opened in August 2015 by Liz Abinante (hi, that's me) because I was too scared to submit to a big technical conference alone. I rallied some support from my friends on Twitter and a few of us ended up submitting by the deadline. People saw this and liked it, and wanted to get involved with fellow community members like this in the future. So blammo. A mailing list.
</p>

<p>
  If you want to know more about Liz, you can do that <a href="http://lizabinante.com" target="_blank">here</a>.
</p>