<p>
  The goal of CFP buddies is to connect underrepresented people in tech interested in speaking at conferences together so we feel less alone. CFP buddies accomplishes this primarily through a mailing list, organized activities, and email reminders. <a href="/about">Learn more about CFP buddies</a>.
</p>

<h2>Get involved</h2>

<p>
  To get updates and stay involved with the group, sign up for the <a href="https://tinyletter.com/cfpbuddies" target="_blank">CFP buddies mailing list</a>.
</p>

<p>
  All events, announcements, and conferences are shared exclusively with the mailing list.
</p>

<h2>Resources</h2>

Hey, we have those! <a href="/resources">Go here to see them</a>.

<h2>Code of Conduct</h2>

<p>
  <em>For full verison and response team contact info, please see <a href="/code-of-conduct">here</a>.</em>
</p>

<p>
  CFP buddies is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. <strong>We do not tolerate harassment of participants in any form.</strong>
</p>

<p>
  This code of conduct applies to all CFP buddies spaces, including our mailing list, conference list, and any additional events held by and for the CFP buddies group members, both online and off. Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the esponse team.
</p>

<p>
  Some CFP buddies spaces may have additional rules in place, which will be made clearly available to participants. <strong>Participants are responsible for knowing and abiding by these rules.</strong>
</p>