<h2>Resources</h2>

<p>
  This isn't one of those websites that wants to be everything and list everything for everyone. Instead of doing that, here's a few key resources and starting points for you.
</p>

<h3>CFP buddies</h3>

<ul>
  <li>
    <a href="https://tinyletter.com/cfpbuddies" target="_blank">Mailing list subscribe</a>
  </li>
  <li>
    <a href="https://tinyletter.com/cfpbuddies/archive" target="_blank">Mailing list archive</a>
  </li>
  <li>
    <a href="https://trello.com/b/QLxH9040/cfp-buddies" target="_blank">CFP buddies Trello board</a> of in-progress conferences
  </li>
</ul>


<h3>Additional</h3>

<ul>
  <li><a href="http://www.techspeak.email/" target="_blank">Technically Speaking</a> email digest</li>
  <li><a href="http://speaking.io/" target="_blank">speaking.io</a></li>
</ul>