<h2>What happens when I submit a conf?</h2>

<p>
  <strong>Before submitting a conf, check the <a href="https://trello.com/b/QLxH9040/cfp-buddies" target="_blank">list</a>.</strong> List members can submit a conf <a href="https://feministy.typeform.com/to/nmqaiL" target="_blank">here</a>.
</p>

<h3>Review</h3>

<p>
  After a conf is submitted, it's added to my <em>Submissions</em> list. I regularly check for new submissions and move them into <em>Review</em> for a quick check of some basics:
</p>

<ul>
  <li>
    Preliminary ways to be forever deleted:
    <ul>
      <li>Does it have a code of conduct?</li>
      <li>Does it look legitimate?</li>
      <li>Are there any immediate red flags?</li>
      <li>Is the CFP completely closed and the speaker line up full?</li>
    </ul>
  </li>
  <li>
    Helps to prioritize, mostly just informational:
    <ul>
      <li>Have the dates been announced? </li>
      <li>Is a CFP open, or will be open soon?</li>
      <li>Has someone on the list attended or spoken before?</li>
      <li>Is it an organizer or affiliate reaching out?</li>
      <li>Do they pay speakers? Do they cover travel?</li>
    </ul>
  </li>
</ul>

<p>
  Things will linger in the review column for longer than expected if the conference is still in the planning stages: there are no conference dates, location info, or travel cost info available.
</p>

<h3>Approved</h3>

<p>
  If it looks legit and seems like I can confidently encourage underrepresented people to apply to speak there en masse, then I'll move it to <em>Approved</em>.
</p>

<p>
  Once a conference is approved, I start coordinating organizational efforts with list members. This means:
</p>

<ol>
  <li>Getting sign ups from list members who intend to submit</li>
  <li>Setting up reminder emails for willing participants :)</li>
  <li>Coordinating events, chats, review sessions, etc with participants (and potentially conference organizers)</li>
</ol>

<h3>Events</h3>

<p>
  Events are fun! Sometimes.
</p>

<p>
  Depending on the feedback results from the welcome survey, I will schedule different types of events to help people submit.
</p>